aside {
    flex: 1;
    margin-top: 80px;
}

aside>h2 {
    font-size: 15px;
    margin-top: 6px;
    color: #28282A;
    text-align: center;
}

.menu {
    margin-top: 1px;
    display: flex;
    justify-content: flex-end;
}

.menu>ul {
    width: 60%;
    padding: 5px;
    position: relative;
    border-left: 1px solid #2a36b9;
    border-bottom: 1px solid #2a36b9;
}