.menuItem {
    color: #111544;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menuItem>span {
    font-size: 12px;
}

.menuItem:hover {
    color: #5050e2;
}

.dialogFilter {
    width: 100%;
    position: absolute;
    top: 100%;
    left: -1px;
    border-left: 1px solid #2a36b9;
    border-bottom: 1px solid #2a36b9;
}