.menuItem {
    color: #111544;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menuItem>span {
    font-size: 12px;
}

.menuItem:hover {
    color: #5050e2;
}