.container {
    width: 100%;
    height: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
}

.popularity {
    padding-right: 4px;
}

.container span {
    flex: 1;
    font-weight: bold;
    font-size: 6px;
    text-align: center;
}

.progressContainer {
    flex: 5;
    height: 5px;
    border: 1px solid gray;
    border-radius: 4px;
}

.progress {
    height: 5px;
    border-radius: 4px;
}