.container {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.paginatorContainer {
    width: 18%;
    display: flex;
    justify-content: space-between;
}

.paginatorContainer div {
    flex: 8;
    display: flex;
}

.numberPages {
    flex: 1;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
    font-size: 9px;
    border-radius: 2px;
    color: white;
}

.numberPages:hover {
    cursor: context-menu;
    background-color: #272F8B;
}

.previous,
.next {
    flex: 1;
    font-size: 10px;
    font-weight: bold;
    outline: none;
    margin: 0 1px;
    border: 1px solid #030431;
    border-radius: 2px;
}

.previous:hover,
.next:hover {
    background-color: #979ABB;
}